<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Three CDN</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    body{
      background: #eee;
      max-width: 960px;
      margin: 20px auto;
    }
    p, h3, ul{
      margin: 0;
      padding: 0;
    }
    li{
      list-style-type: none;
      background: #fff;
      margin: 20px auto;
      padding: 10px 20px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    li.fav{
      background: #ff9ed2;
      color: white;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>{{message}}</h1>
    <div v-if="showBooks">
      <ul>
        <li v-for="(book, i) in books" :key="i" :class="{ fav: book.isFav }" @click="toggleFav(book)">
          <img :src="book.cover" :alt="book.title">
          <h3>{{book.title}}</h3>
           <p>{{book.author}}</p>
          </li>
      </ul>
    </div>

  </div>

  <script src="app.js"></script>
</body>

</html>