<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Three CDN</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <style>
    .box {
      width: 400px;
      text-align: center;
      background-color: #ddd;
      padding: 100px 0;
      margin: 20px;
      display: inline-block;
    }
  </style>
</head>

<body>
  <div id="app">
    <h1>{{message}}</h1>

    
    <!-- Attribute Binding -->
    <a :href="url" target="blank">Visist Noel's site</a>
    <!-- Mouse Events -->
    <hr>
    <h2 style="color: red;">Lists with v-for</h2>
    <hr>

    <div v-if="showBooks">
      <ul>
        <li v-for="(book, i) in books" :key="i">
          <img :src="book.cover" :alt="book.title">
          <h3>{{book.title}}</h3>
           <p>{{book.author}}</p>
          </li>
      </ul>
    </div>

  </div>

  <script src="app.js"></script>
</body>

</html>